.hide {
	display: none;
}

body {
    background-image: url("../img/bg.jpg");

}

#navbar {
	border: 3px solid black;
	height: 120px;
    width: 100vw;
	background-color: gray;
	display: flex;
	align-items: center;
	
}

#navbar h2 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



#auth-container {
	text-align: center;
    align-items: center;
  

}

#authbg {
    background-color: antiquewhite;
    opacity: 90%;
}

#auth-container input {
	height: 40px;
	text-align: center;
	margin: 5px;

}

.modal-header {
    background-color: #E2E2E2;
}

#login-message-container {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

#message-container {
	text-align: center;
	margin: 30px;
	font-weight: bold;
    font-size: 20px;
}

#create-ticket-form {
	margin-top: 5px;
	margin: 30px;
	text-align: center;
}


#create-ticket-form input {
	margin-top: 1px;
	margin-right: 20px;
	text-align: center;
	font-weight: bold;
	height: 40px;
	border-radius: 10px;
}

#index-ticket-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    justify-items: center;        
}

#index-ticket-container div {
	border: 5px solid black;
	background-color: gray;
	border-radius: 20%;
	text-align: center;
	width: 270px;
    height: 250px;
	margin: 10px;
	padding: 10px;
}


.modal-body {
	text-align: left;
}

#parts-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 2px solid grey;
	margin: 5px;
	text-align: left;
    background-color: #E2E2E2;
    max-height: 350px;
}
.updateTicketForm {
	display: flex;
	flex-direction: column;
}

